In [1]:
import pandas as pd

In [2]:
weatherdf = pd.read_csv('weatherdata.csv',  keep_default_na=True, sep=',\s+', delimiter=',')
weatherdf.shape

(1011, 9)

In [3]:
weatherdf.head()

,id,temp,weather,w_descripti,visibility,wind_speed,datetime,day,week
0,112,13.06,Clouds,few clouds,10000,2.1,1551182327,2019-02-26,2
1,168,7.48,Clouds,broken clouds,7000,4.6,1551085200,2019-02-25,1
2,181,1.96,Clouds,few clouds,7000,2.1,1551156815,2019-02-26,2
3,182,14.51,Clouds,broken clouds,10000,3.6,1551101400,2019-02-25,1
4,183,8.56,Mist,mist,5000,2.6,1551036600,2019-02-24,7

In [4]:
weatherdf["new_dateframe"] = pd.to_datetime(weatherdf["datetime"], unit="s")

In [5]:
weatherdf.head()

,id,temp,weather,w_descripti,visibility,wind_speed,datetime,day,week,new_dateframe
0,112,13.06,Clouds,few clouds,10000,2.1,1551182327,2019-02-26,2,2019-02-26 11:58:47
1,168,7.48,Clouds,broken clouds,7000,4.6,1551085200,2019-02-25,1,2019-02-25 09:00:00
2,181,1.96,Clouds,few clouds,7000,2.1,1551156815,2019-02-26,2,2019-02-26 04:53:35
3,182,14.51,Clouds,broken clouds,10000,3.6,1551101400,2019-02-25,1,2019-02-25 13:30:00
4,183,8.56,Mist,mist,5000,2.6,1551036600,2019-02-24,7,2019-02-24 19:30:00

In [6]:
weatherdf["hour"]= weatherdf["new_dateframe"].dt.hour
weatherdf["date"]= weatherdf["new_dateframe"].dt.date
weatherdf.head()

,id,temp,weather,w_descripti,visibility,wind_speed,datetime,day,week,new_dateframe,hour,date
0,112,13.06,Clouds,few clouds,10000,2.1,1551182327,2019-02-26,2,2019-02-26 11:58:47,11,2019-02-26
1,168,7.48,Clouds,broken clouds,7000,4.6,1551085200,2019-02-25,1,2019-02-25 09:00:00,9,2019-02-25
2,181,1.96,Clouds,few clouds,7000,2.1,1551156815,2019-02-26,2,2019-02-26 04:53:35,4,2019-02-26
3,182,14.51,Clouds,broken clouds,10000,3.6,1551101400,2019-02-25,1,2019-02-25 13:30:00,13,2019-02-25
4,183,8.56,Mist,mist,5000,2.6,1551036600,2019-02-24,7,2019-02-24 19:30:00,19,2019-02-24

In [7]:
weatherdf = weatherdf.drop(['id','w_descripti','datetime','day','new_dateframe'], axis = 1)
weatherdf.head()

    temp weather  visibility  wind_speed  week  hour        date
0  13.06  Clouds       10000         2.1     2    11  2019-02-26
1   7.48  Clouds        7000         4.6     1     9  2019-02-25
2   1.96  Clouds        7000         2.1     2     4  2019-02-26
3  14.51  Clouds       10000         3.6     1    13  2019-02-25
4   8.56    Mist        5000         2.6     7    19  2019-02-24

In [8]:
bikedf = pd.read_csv('bikesdata.csv',  keep_default_na=True, sep=',\s+', delimiter=',')

In [9]:
bikedf.shape

(701313, 8)

In [10]:
bikedf.head()

,id,last_update,day,week,available_bikes,available_bike_stands,status,HOUR(`day`)
0,2,1550707610000,2019-02-21 00:06:50.000000,4,12,8,OPEN,0
1,2,1550708218000,2019-02-21 00:16:58.000000,4,12,8,OPEN,0
2,2,1550709164000,2019-02-21 00:32:44.000000,4,12,8,OPEN,0
3,2,1550709772000,2019-02-21 00:42:52.000000,4,12,8,OPEN,0
4,2,1550710380000,2019-02-21 00:53:00.000000,4,12,8,OPEN,0

In [11]:
bikedf["new_dateframe"] = pd.to_datetime(bikedf["day"], unit="ns")
bikedf["hour"]= bikedf["new_dateframe"].dt.hour
bikedf["date"]= bikedf["new_dateframe"].dt.date
bikedf.head()

,id,last_update,day,week,available_bikes,available_bike_stands,status,HOUR(`day`),new_dateframe,hour,date
0,2,1550707610000,2019-02-21 00:06:50.000000,4,12,8,OPEN,0,2019-02-21 00:06:50,0,2019-02-21
1,2,1550708218000,2019-02-21 00:16:58.000000,4,12,8,OPEN,0,2019-02-21 00:16:58,0,2019-02-21
2,2,1550709164000,2019-02-21 00:32:44.000000,4,12,8,OPEN,0,2019-02-21 00:32:44,0,2019-02-21
3,2,1550709772000,2019-02-21 00:42:52.000000,4,12,8,OPEN,0,2019-02-21 00:42:52,0,2019-02-21
4,2,1550710380000,2019-02-21 00:53:00.000000,4,12,8,OPEN,0,2019-02-21 00:53:00,0,2019-02-21

In [12]:
bikedf = bikedf.drop(['last_update','day','week','status', 'new_dateframe','HOUR(`day`)'], axis = 1)
bikedf.head()

   id  available_bikes  available_bike_stands  hour        date
0   2               12                      8     0  2019-02-21
1   2               12                      8     0  2019-02-21
2   2               12                      8     0  2019-02-21
3   2               12                      8     0  2019-02-21
4   2               12                      8     0  2019-02-21

In [13]:
mergedf=pd.merge(bikedf,weatherdf,on=['hour','date'], how = "left")
mergedf.head()

,id,available_bikes,available_bike_stands,hour,date,temp,weather,visibility,wind_speed,week
0,2,12,8,0,2019-02-21,NaN,NaN,NaN,NaN,NaN
1,2,12,8,0,2019-02-21,NaN,NaN,NaN,NaN,NaN
2,2,12,8,0,2019-02-21,NaN,NaN,NaN,NaN,NaN
3,2,12,8,0,2019-02-21,NaN,NaN,NaN,NaN,NaN
4,2,12,8,0,2019-02-21,NaN,NaN,NaN,NaN,NaN

In [14]:
mergedf.shape

(712075, 10)

In [15]:
mergedf = mergedf.dropna()

In [16]:
mergedf.shape

(677272, 10)

In [17]:
mergedf=mergedf.drop(['date'], axis = 1)

In [18]:
mergedf.shape

(677272, 9)

In [19]:
mergedf.dtypes

id                         int64
available_bikes            int64
available_bike_stands      int64
hour                       int64
temp                     float64
weather                   object
visibility               float64
wind_speed               float64
week                     float64
dtype: object

In [20]:
categorical_columns = mergedf[['weather','week']].columns
for column in categorical_columns:
    mergedf[column] = mergedf[column].astype('category')

mergedf.dtypes

id                          int64
available_bikes             int64
available_bike_stands       int64
hour                        int64
temp                      float64
weather                  category
visibility                float64
wind_speed                float64
week                     category
dtype: object

In [21]:
bikedf.shape

(701313, 5)

In [22]:
mergedf.select_dtypes(['category']).describe().T

          count unique     top    freq
weather  677272      7  Clouds  357490
week     677272      7       4  101516

In [23]:
mergedf= pd.get_dummies(mergedf, columns=['weather'], prefix = ['weather'])

In [24]:
mergedf.head()

,id,available_bikes,available_bike_stands,hour,temp,visibility,wind_speed,week,weather_Clear,weather_Clouds,weather_Drizzle,weather_Fog,weather_Mist,weather_Rain,weather_Snow
105,2,3,17,18,11.0,10000.0,4.6,4.0,0,1,0,0,0,0,0
106,2,2,18,18,11.0,10000.0,4.6,4.0,0,1,0,0,0,0,0
107,2,4,16,18,11.0,10000.0,4.6,4.0,0,1,0,0,0,0,0
108,2,5,15,18,11.0,10000.0,4.6,4.0,0,1,0,0,0,0,0
109,2,4,16,18,11.0,10000.0,4.6,4.0,0,1,0,0,0,0,0

In [25]:
print('Duplicate rows:', mergedf.duplicated()[mergedf.duplicated() == True].shape[0])

Duplicate rows: 389723

In [26]:
mergedf.duplicated()
mergedf=mergedf.drop_duplicates()
mergedf.shape
mergedf = mergedf.drop(['weather_Clouds','weather_Mist','weather_Clear','weather_Fog','visibility','available_bike_stands'], axis = 1)
mergedf

,id,available_bikes,hour,temp,wind_speed,week,weather_Drizzle,weather_Rain,weather_Snow
105,2,3,18,11.00,4.6,4.0,0,0,0
106,2,2,18,11.00,4.6,4.0,0,0,0
107,2,4,18,11.00,4.6,4.0,0,0,0
108,2,5,18,11.00,4.6,4.0,0,0,0
110,2,6,18,11.00,4.6,4.0,0,0,0
111,2,7,18,11.00,4.6,4.0,0,0,0
112,2,10,19,10.00,4.1,4.0,0,0,0
113,2,10,19,10.00,5.7,4.0,0,0,0
114,2,9,19,10.00,4.1,4.0,0,0,0
115,2,9,19,10.00,5.7,4.0,0,0,0
118,2,8,19,10.00,4.1,4.0,0,0,0
119,2,8,19,10.00,5.7,4.0,0,0,0
124,2,10,20,10.51,6.2,4.0,0,0,0
125,2,10,20,11.00,7.2,4.0,0,0,0
130,2,11,20,10.51,6.2,4.0,0,0,0
131,2,11,20,11.00,7.2,4.0,0,0,0
139,2,12,20,10.51,6.2,4.0,0,0,0
140,2,12,20,11.00,7.2,4.0,0,0,0
142,2,12,21,10.51,7.2,4.0,0,0,0
143,2,11,21,10.51,7.2,4.0,0,0,0
145,2,13,21,10.51,7.2,4.0,0,0,0
263,2,2,14,11.89,4.6,7.0,0,0,0
264,2,2,15,11.52,2.6,7.0,0,0,0
265,2,0,15,11.52,2.6,7.0,0,0,0
270,2,0,16,11.52,3.6,7.0,0,0,0
271,2,0,16,11.28,4.6,7.0,0,0,0
272,2,1,16,11.52,3.6,7.0,0,0,0
273,2,1,16,11.28,4.6,7.0,0,0,0
280,2,1,17,10.70,5.1,7.0,0,0,0
281,2,0,17,10.70,5.1,7.0,0,0,0
...,...,...,...,...,...,...,...,...,...
711994,115,19,21,3.86,1.5,6.0,0,0,0
711995,115,19,22,2.32,2.1,6.0,0,0,0
711996,115,20,22,2.32,2.1,6.0,0,0,0
712000,115,21,22,2.32,2.1,6.0,0,0,0
712001,115,21,23,2.53,3.1,6.0,0,0,0
712002,115,22,23,2.53,3.1,6.0,0,0,0
712003,115,23,23,2.53,3.1,6.0,0,0,0
712005,115,24,23,2.53,3.1,6.0,0,0,0
712007,115,24,0,0.85,2.1,7.0,0,0,0
712013,115,24,1,0.95,1.0,7.0,0,0,0
712018,115,24,2,2.48,1.0,7.0,0,0,0
712024,115,24,3,2.41,2.1,7.0,0,0,0
712030,115,24,4,2.42,3.1,7.0,0,0,0
712032,115,25,4,2.42,3.1,7.0,0,0,0
712036,115,25,5,1.72,2.1,7.0,0,0,0
712042,115,25,6,2.96,4.6,7.0,0,0,0
712043,115,24,6,2.96,4.6,7.0,0,0,0
712044,115,23,6,2.96,4.6,7.0,0,0,0
712047,115,21,6,2.96,4.6,7.0,0,0,0
712048,115,20,7,4.82,3.1,7.0,0,0,0
712051,115,19,7,4.82,3.1,7.0,0,0,0
712052,115,17,7,4.82,3.1,7.0,0,0,0
712053,115,16,7,4.82,3.1,7.0,0,0,0
712054,115,16,8,7.66,5.1,7.0,0,0,0
712057,115,15,8,7.66,5.1,7.0,0,0,0
712058,115,15,8,7.66,5.1,7.0,0,0,0
712059,115,15,9,8.90,6.2,7.0,0,0,0
712060,115,16,9,8.90,6.2,7.0,0,0,0
712061,115,17,9,8.90,6.2,7.0,0,0,0
712063,115,14,9,8.90,6.2,7.0,0,0,0

In [27]:
mergedf.dtypes

id                    int64
available_bikes       int64
hour                  int64
temp                float64
wind_speed          float64
week               category
weather_Drizzle       uint8
weather_Rain          uint8
weather_Snow          uint8
dtype: object

# Random Forest

In [28]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree     import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
import numpy as np

# Allows plots to appear directly in the notebook.
%matplotlib inline

from sklearn.linear_model import LinearRegression

from sklearn.metrics import classification_report, confusion_matrix

In [29]:
numeric_columns = mergedf.select_dtypes(['int64','float64','uint8']).columns

numeric_columns = numeric_columns.drop(['available_bikes'])
numeric_columns

Index(['id', 'hour', 'temp', 'wind_speed', 'weather_Drizzle', 'weather_Rain',
       'weather_Snow'],
      dtype='object')

In [45]:
numeric_columns = mergedf.select_dtypes(['int64','float64','uint8']).columns
X = mergedf[numeric_columns]
y = mergedf.available_bikes
print("\nDescriptive features in X:\n", X)
print("\nTarget feature in y:\n", y)
linreg_70train = LinearRegression().fit(X, y)

print("Features: \n", X.columns)
print("Coeficients: \n", linreg_70train.coef_)
print("\nIntercept: \n", linreg_70train.intercept_)

Descriptive features in X:
          id  available_bikes  hour   temp  wind_speed  weather_Drizzle  \
105       2                3    18  11.00         4.6                0
106       2                2    18  11.00         4.6                0
107       2                4    18  11.00         4.6                0
108       2                5    18  11.00         4.6                0
110       2                6    18  11.00         4.6                0
111       2                7    18  11.00         4.6                0
112       2               10    19  10.00         4.1                0
113       2               10    19  10.00         5.7                0
114       2                9    19  10.00         4.1                0
115       2                9    19  10.00         5.7                0
118       2                8    19  10.00         4.1                0
119       2                8    19  10.00         5.7                0
124       2               10    20  10.51         6.2                0
125       2               10    20  11.00         7.2                0
130       2               11    20  10.51         6.2                0
131       2               11    20  11.00         7.2                0
139       2               12    20  10.51         6.2                0
140       2               12    20  11.00         7.2                0
142       2               12    21  10.51         7.2                0
143       2               11    21  10.51         7.2                0
145       2               13    21  10.51         7.2                0
263       2                2    14  11.89         4.6                0
264       2                2    15  11.52         2.6                0
265       2                0    15  11.52         2.6                0
270       2                0    16  11.52         3.6                0
271       2                0    16  11.28         4.6                0
272       2                1    16  11.52         3.6                0
273       2                1    16  11.28         4.6                0
280       2                1    17  10.70         5.1                0
281       2                0    17  10.70         5.1                0
...     ...              ...   ...    ...         ...              ...
711994  115               19    21   3.86         1.5                0
711995  115               19    22   2.32         2.1                0
711996  115               20    22   2.32         2.1                0
712000  115               21    22   2.32         2.1                0
712001  115               21    23   2.53         3.1                0
712002  115               22    23   2.53         3.1                0
712003  115               23    23   2.53         3.1                0
712005  115               24    23   2.53         3.1                0
712007  115               24     0   0.85         2.1                0
712013  115               24     1   0.95         1.0                0
712018  115               24     2   2.48         1.0                0
712024  115               24     3   2.41         2.1                0
712030  115               24     4   2.42         3.1                0
712032  115               25     4   2.42         3.1                0
712036  115               25     5   1.72         2.1                0
712042  115               25     6   2.96         4.6                0
712043  115               24     6   2.96         4.6                0
712044  115               23     6   2.96         4.6                0
712047  115               21     6   2.96         4.6                0
712048  115               20     7   4.82         3.1                0
712051  115               19     7   4.82         3.1                0
712052  115               17     7   4.82         3.1                0
712053  115               16     7   4.82         3.1                0
712054  115               16     8   7.66         5.1                0
712057  115               15     8   7.66         5.1                0
712058  115               15     8   7.66         5.1                0
712059  115               15     9   8.90         6.2                0
712060  115               16     9   8.90         6.2                0
712061  115               17     9   8.90         6.2                0
712063  115               14     9   8.90         6.2                0

        weather_Rain  weather_Snow
105                0             0
106                0             0
107                0             0
108                0             0
110                0             0
111                0             0
112                0             0
113                0             0
114                0             0
115                0             0
118                0             0
119                0             0
124                0             0
125                0             0
130                0             0
131                0             0
139                0             0
140                0             0
142                0             0
143                0             0
145                0             0
263                0             0
264                0             0
265                0             0
270                0             0
271                0             0
272                0             0
273                0             0
280                0             0
281                0             0
...              ...           ...
711994             0             0
711995             0             0
711996             0             0
712000             0             0
712001             0             0
712002             0             0
712003             0             0
712005             0             0
712007             0             0
712013             0             0
712018             0             0
712024             0             0
712030             0             0
712032             0             0
712036             0             0
712042             0             0
712043             0             0
712044             0             0
712047             0             0
712048             0             0
712051             0             0
712052             0             0
712053             0             0
712054             0             0
712057             0             0
712058             0             0
712059             0             0
712060             0             0
712061             0             0
712063             0             0

[287549 rows x 8 columns]

Target feature in y:
 105        3
106        2
107        4
108        5
110        6
111        7
112       10
113       10
114        9
115        9
118        8
119        8
124       10
125       10
130       11
131       11
139       12
140       12
142       12
143       11
145       13
263        2
264        2
265        0
270        0
271        0
272        1
273        1
280        1
281        0
          ..
711994    19
711995    19
711996    20
712000    21
712001    21
712002    22
712003    23
712005    24
712007    24
712013    24
712018    24
712024    24
712030    24
712032    25
712036    25
712042    25
712043    24
712044    23
712047    21
712048    20
712051    19
712052    17
712053    16
712054    16
712057    15
712058    15
712059    15
712060    16
712061    17
712063    14
Name: available_bikes, Length: 287549, dtype: int64
Features:
 Index(['id', 'available_bikes', 'hour', 'temp', 'wind_speed',
       'weather_Drizzle', 'weather_Rain', 'weather_Snow'],
      dtype='object')
Coeficients:
 [ 3.16882534e-16  1.00000000e+00 -1.88486654e-17  2.45294770e-18
 -1.35467546e-17 -1.71080464e-16 -1.27527756e-16  1.59820351e-17]

Intercept:
 4.618527782440651e-14

In [46]:
X_train,X_test, y_train, y_test = train_test_split(X,y)
y_predicted = linreg_70train.predict(X_test)

In [47]:
X = mergedf.loc[mergedf["id"] == 2]

In [48]:
X.head()

,id,available_bikes,hour,temp,wind_speed,week,weather_Drizzle,weather_Rain,weather_Snow
105,2,3,18,11.0,4.6,4.0,0,0,0
106,2,2,18,11.0,4.6,4.0,0,0,0
107,2,4,18,11.0,4.6,4.0,0,0,0
108,2,5,18,11.0,4.6,4.0,0,0,0
110,2,6,18,11.0,4.6,4.0,0,0,0

In [50]:
# def printMetrics(testActualVal, predictions):
#     #classification evaluation measures
#     print('\n==============================================================================')
#     print("MAE: ", metrics.mean_absolute_error(testActualVal, predictions))
#     #print("MSE: ", metrics.mean_squared_error(testActualVal, predictions))
#     print("RMSE: ", metrics.mean_squared_error(testActualVal, predictions)**0.5)
#     print("R2: ", metrics.r2_score(testActualVal, predictions))
# print(printMetrics(y_test,y_predicted))

In [51]:
import pickle
for i in mergedf.id.unique():
    mergedf_id = mergedf.loc[mergedf["id"] == i]
    numeric_columns = mergedf_id.select_dtypes(['int64','float64','uint8']).columns
    numeric_columns = numeric_columns.drop(['available_bikes'])
    X = mergedf_id[numeric_columns]
    y = mergedf_id.available_bikes
    random_forest = RandomForestRegressor(max_depth=10, random_state=0, n_estimators=500)
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.33, random_state=42)
    random_forest.fit(X_train,y_train)
    y_predicted = random_forest.predict(X_test)
    # printMetrics(y_test,y_predicted)
    # print(y_predicted)
    # print(y_predicted)
    pkl_filename = str(i) + ".pkl"  
    with open(pkl_filename, 'wb') as file:
        pickle.dump(random_forest, file)
    actual_vs_predicted_multiplelinreg1 = pd.concat([y_test,pd.DataFrame(y_predicted, columns=['Predicted'],index=y_test.index)],axis=1)
#     print(actual_vs_predicted_multiplelinreg1)
    print(i)
    print(printMetrics(y_test,y_predicted))

2

==============================================================================
MAE:  2.163579025736347
RMSE:  2.971321449158883
R2:  0.6468809277696711
None
3

==============================================================================
MAE:  2.330622526438411
RMSE:  3.110350361520548
R2:  0.5057643060232595
None
4

==============================================================================
MAE:  2.268331901306873
RMSE:  3.0257731644872283
R2:  0.4339173870631099
None
5

==============================================================================
MAE:  5.476942318259989
RMSE:  6.834927173210177
R2:  0.5791419168557197
None
6

==============================================================================
MAE:  3.312832565434056
RMSE:  4.305985749306237
R2:  0.46429014619885856
None
7

==============================================================================
MAE:  4.137689798989959
RMSE:  5.350324158967277
R2:  0.5175974221864437
None
8

==============================================================================
MAE:  3.9043830213207307
RMSE:  4.902265276047394
R2:  0.7007730120950977
None
9

==============================================================================
MAE:  4.039549034630485
RMSE:  5.034675566701576
R2:  0.5661272650109556
None
10

==============================================================================
MAE:  3.306454376102994
RMSE:  4.038925169727621
R2:  0.3775064928305977
None
11

==============================================================================
MAE:  3.555349310940682
RMSE:  5.134888501304862
R2:  0.6392263992202495
None
12

==============================================================================
MAE:  2.343547616642476
RMSE:  3.155040789178779
R2:  0.6206608231284931
None
13

==============================================================================
MAE:  3.4393045997727265
RMSE:  4.701293046797054
R2:  0.7228298102324437
None
14

==============================================================================
MAE:  4.753928795965719
RMSE:  5.835028659708895
R2:  0.5931709204737062
None
15

==============================================================================
MAE:  1.7273539752662064
RMSE:  2.313589888699158
R2:  0.478897725275065
None
16

==============================================================================
MAE:  2.789166157077861
RMSE:  3.771197541205005
R2:  0.6082188278167274
None
17

==============================================================================
MAE:  2.7196344779327633
RMSE:  3.6940774337514393
R2:  0.39928670777651365
None
18

==============================================================================
MAE:  3.607344086775557
RMSE:  4.821255517271056
R2:  0.6718372930529959
None
19

==============================================================================
MAE:  4.096649065363576
RMSE:  5.225076584474499
R2:  0.6848980545082497
None
21

==============================================================================
MAE:  4.324130039906091
RMSE:  5.54644397253486
R2:  0.6559298892388832
None
22

==============================================================================
MAE:  3.121754340375986
RMSE:  3.931648647545935
R2:  0.590882993448846
None
23

==============================================================================
MAE:  4.753604812789523
RMSE:  6.288024583329698
R2:  0.5276227749063906
None
24

==============================================================================
MAE:  3.2552706217762797
RMSE:  4.040713481539449
R2:  0.5096762887698202
None
25

==============================================================================
MAE:  4.001127730698087
RMSE:  5.539922805479563
R2:  0.706366943078925
None
26

==============================================================================
MAE:  3.056867803572792
RMSE:  3.957606085403549
R2:  0.6005371853318832
None
27

==============================================================================
MAE:  2.7561912303687848
RMSE:  3.621363865873465
R2:  0.7376029597342584
None
28

==============================================================================
MAE:  4.32651001011944
RMSE:  5.407175862592003
R2:  0.58713214606475
None
29

==============================================================================
MAE:  4.883411518886305
RMSE:  6.421430808909034
R2:  0.527056304681393
None
30

==============================================================================
MAE:  1.771399924457339
RMSE:  2.3590223008450026
R2:  0.4924544187846819
None
31

==============================================================================
MAE:  2.6493261436667814
RMSE:  3.498153718495562
R2:  0.5555506739583627
None
32

==============================================================================
MAE:  4.318066356087243
RMSE:  5.409172845246435
R2:  0.5939371097746762
None
33

==============================================================================
MAE:  3.92311749665146
RMSE:  4.809637977104485
R2:  0.5604401743074181
None
34

==============================================================================
MAE:  4.022476280954073
RMSE:  5.196419271553752
R2:  0.6806521503245204
None
35

==============================================================================
MAE:  3.1788058266632766
RMSE:  4.258870976731908
R2:  0.6349021280566134
None
36

==============================================================================
MAE:  5.309900521769982
RMSE:  7.03881153638611
R2:  0.706169721341084
None
37

==============================================================================
MAE:  3.8724993378510866
RMSE:  5.390143917272671
R2:  0.5130565267595021
None
38

==============================================================================
MAE:  4.892771775167748
RMSE:  6.32482941470152
R2:  0.6826916734773487
None
39

==============================================================================
MAE:  2.6924448458738865
RMSE:  3.406095478818215
R2:  0.4957512306419978
None
40

==============================================================================
MAE:  3.5245356917088007
RMSE:  4.502068669757428
R2:  0.5072322628159174
None
41

==============================================================================
MAE:  2.3966355308934806
RMSE:  3.257358199335727
R2:  0.49813077125520444
None
42

==============================================================================
MAE:  3.8146512328038122
RMSE:  5.12179618611519
R2:  0.7217428627393057
None
43

==============================================================================
MAE:  4.181541330673716
RMSE:  5.304333915476201
R2:  0.7018215553557164
None
44

==============================================================================
MAE:  3.639861888653063
RMSE:  4.877965967700038
R2:  0.7794736585122375
None
45

==============================================================================
MAE:  4.12663909274261
RMSE:  5.701092443495093
R2:  0.6153593546933764
None
46

==============================================================================
MAE:  3.6723425771149136
RMSE:  4.573716029359281
R2:  0.5036484060539055
None
47

==============================================================================
MAE:  5.236153374105336
RMSE:  7.811567992632321
R2:  0.7263077396859976
None
48

==============================================================================
MAE:  4.705587709957486
RMSE:  6.145041998973272
R2:  0.7279429219912859
None
49

==============================================================================
MAE:  5.513243584565273
RMSE:  7.473979406738112
R2:  0.6851051371158001
None
50

==============================================================================
MAE:  3.980088927365563
RMSE:  5.817037656506465
R2:  0.770004645207387
None
51

==============================================================================
MAE:  5.4397609194637635
RMSE:  7.417007479616115
R2:  0.5668952526349229
None
52

==============================================================================
MAE:  4.515289017075933
RMSE:  5.982341427399565
R2:  0.6552613605290363
None
53

==============================================================================
MAE:  5.036027929977571
RMSE:  6.906676909553167
R2:  0.6120505862728329
None

54

==============================================================================
MAE:  3.6998041191460946
RMSE:  5.00036580506955
R2:  0.628535927019861
None
55

==============================================================================
MAE:  3.9290895341489143
RMSE:  5.617714070780545
R2:  0.6975392711541641
None
56

==============================================================================
MAE:  5.866039590278633
RMSE:  7.581234749885432
R2:  0.6334529560769039
None
57

==============================================================================
MAE:  3.0583035441650357
RMSE:  4.21530388455567
R2:  0.7412157534218242
None
58

==============================================================================
MAE:  5.306093338358129
RMSE:  6.767025889847531
R2:  0.7169788476771849
None
59

==============================================================================
MAE:  1.9341164651614888
RMSE:  2.7574317330159506
R2:  0.23825364560769902
None
60

==============================================================================
MAE:  4.172666541750466
RMSE:  5.383476031669341
R2:  0.7309232158418153
None
61

==============================================================================
MAE:  3.4550778392947996
RMSE:  4.693524790837855
R2:  0.4508715939502267
None
62

==============================================================================
MAE:  5.658717800078596
RMSE:  8.041721597794343
R2:  0.6818578677602884
None
63

==============================================================================
MAE:  4.609211895766154
RMSE:  6.085575459075552
R2:  0.7060440611638137
None
64

==============================================================================
MAE:  5.55477991241599
RMSE:  7.270330327612607
R2:  0.5796764874448932
None
65

==============================================================================
MAE:  4.983625670583674
RMSE:  7.244467569358669
R2:  0.7059747450065389
None
66

==============================================================================
MAE:  4.416895691789244
RMSE:  5.889482386236099
R2:  0.7482642634118243
None
67

==============================================================================
MAE:  4.905775264289487
RMSE:  6.460134500814203
R2:  0.5619893470017774
None
68

==============================================================================
MAE:  4.931739069663694
RMSE:  6.3598628936725055
R2:  0.7691204860276726
None
69

==============================================================================
MAE:  5.811141773229771
RMSE:  7.868028308815959
R2:  0.6814664947317648
None
70

==============================================================================
MAE:  4.332969834836742
RMSE:  5.367494682637474
R2:  0.5745854234553326
None
71

==============================================================================
MAE:  4.423150728643965
RMSE:  6.898167992986537
R2:  0.4102325908161759
None
72

==============================================================================
MAE:  4.206469484940499
RMSE:  5.509006479372795
R2:  0.6285800990507213
None
73

==============================================================================
MAE:  3.400401172918298
RMSE:  4.54608349071559
R2:  0.6956175179317576
None
74

==============================================================================
MAE:  4.557281690854281
RMSE:  5.80576388974725
R2:  0.5693020626527349
None
75

==============================================================================
MAE:  4.631326824752461
RMSE:  6.396380959582439
R2:  0.6392956197208635
None
76

==============================================================================
MAE:  4.891048118130968
RMSE:  6.366565826387531
R2:  0.6197673916277773
None
77

==============================================================================
MAE:  4.669322507398564
RMSE:  6.251776842205216
R2:  0.505129101857558
None
78

==============================================================================
MAE:  4.4973547592954555
RMSE:  5.798213670213248
R2:  0.6994044023697965
None
79

==============================================================================
MAE:  3.4998713629067733
RMSE:  4.801653953555397
R2:  0.4947474750590447
None
80

==============================================================================
MAE:  4.671210874332596
RMSE:  6.107975606379419
R2:  0.5366718014546197
None
81

==============================================================================
MAE:  6.16125585932841
RMSE:  7.956412877528199
R2:  0.29363363175518753
None
82

==============================================================================
MAE:  2.667897220072068
RMSE:  3.750948099268411
R2:  0.6162749510173724
None
83

==============================================================================
MAE:  4.407488814790233
RMSE:  5.890960515352228
R2:  0.7359539988548601
None
84

==============================================================================
MAE:  3.3749130371232736
RMSE:  4.603801430708096
R2:  0.7770087415964039
None
85

==============================================================================
MAE:  4.118052043548568
RMSE:  5.66300709306602
R2:  0.7004320383192219
None
86

==============================================================================
MAE:  5.712144048299654
RMSE:  7.532310641930997
R2:  0.6439463267753827
None
87

==============================================================================
MAE:  4.224301669428292
RMSE:  5.608041813607633
R2:  0.7049304944703159
None
88

==============================================================================
MAE:  3.565258236068858
RMSE:  4.800153968938881
R2:  0.7223679419487082
None
89

==============================================================================
MAE:  4.1207200184666695
RMSE:  5.839978072103178
R2:  0.7003011572780696
None
90

==============================================================================
MAE:  4.934852604031109
RMSE:  6.9894585139656416
R2:  0.7550236811564159
None
91

==============================================================================
MAE:  3.8526960684142457
RMSE:  4.864616630446475
R2:  0.6021899198794283
None
92

==============================================================================
MAE:  6.247381221375082
RMSE:  8.308696446382458
R2:  0.6450206999297228
None
93

==============================================================================
MAE:  7.629495277204472
RMSE:  10.119486633754114
R2:  0.5604480165383459
None
94

==============================================================================
MAE:  7.341877205607182
RMSE:  9.319489974695598
R2:  0.5523568819706166
None
95

==============================================================================
MAE:  5.147990016084242
RMSE:  7.20287641600341
R2:  0.6647410237282002
None
96

==============================================================================
MAE:  2.8246888794027427
RMSE:  3.879292415753883
R2:  0.5640030463351157
None
97

==============================================================================
MAE:  4.553053462269006
RMSE:  5.988536497284813
R2:  0.7370374689668573
None
98

==============================================================================
MAE:  5.380626216341759
RMSE:  7.107656286146161
R2:  0.5737137581719872
None
99

==============================================================================
MAE:  4.886037972502216
RMSE:  6.710555309718462
R2:  0.6071309452918761
None
100

==============================================================================
MAE:  4.771981521904703
RMSE:  6.049687872028766
R2:  0.4919060780836778
None
101

==============================================================================
MAE:  2.735972689137381
RMSE:  3.706203997000588
R2:  0.7490362891299143
None
102

==============================================================================
MAE:  3.8328255882814384
RMSE:  5.01569041399961
R2:  0.47987984906406056
None
103

==============================================================================
MAE:  3.0693077323221902
RMSE:  3.990256675999261
R2:  0.39902144213392565
None
104

==============================================================================
MAE:  3.2653875568625663
RMSE:  4.2302609712338795
R2:  0.23132917571561595
None

105

==============================================================================
MAE:  2.5757109090502666
RMSE:  3.3478433727287396
R2:  0.31565176321136623
None
106

==============================================================================
MAE:  4.006073559174278
RMSE:  5.5156335385790065
R2:  0.4582424173959262
None
107

==============================================================================
MAE:  3.8950950712818826
RMSE:  5.158182924618726
R2:  0.6475518793555026
None
108

==============================================================================
MAE:  2.984248416892389
RMSE:  3.978367956690915
R2:  0.6232627270498576
None
109

==============================================================================
MAE:  3.354347936031964
RMSE:  4.5787645955104
R2:  0.6732555367971602
None
110

==============================================================================
MAE:  3.2629735796287704
RMSE:  4.32082387894762
R2:  0.5032328475984753
None
111

==============================================================================
MAE:  3.943708539988249
RMSE:  5.432735455609038
R2:  0.7657653368418471
None
112

==============================================================================
MAE:  3.721384868727214
RMSE:  4.751387212300536
R2:  0.7559153882771572
None
113

==============================================================================
MAE:  5.680258177416244
RMSE:  7.708284611540578
R2:  0.6686446414515353
None
114

==============================================================================
MAE:  5.202289085038381
RMSE:  7.089855203075587
R2:  0.7142045597244473
None
115

==============================================================================
MAE:  3.7473000687235003
RMSE:  4.797229487550657
R2:  0.7652817538045095
None

In [52]:
def printMetrics(testActualVal, predictions):
    #classification evaluation measures
    print('\n==============================================================================')
    print("MAE: ", metrics.mean_absolute_error(testActualVal, predictions))
    #print("MSE: ", metrics.mean_squared_error(testActualVal, predictions))
    print("RMSE: ", metrics.mean_squared_error(testActualVal, predictions)**0.5)
    print("R2: ", metrics.r2_score(testActualVal, predictions))
print(printMetrics(y_test,y_predicted))

==============================================================================
MAE:  3.7473000687235003
RMSE:  4.797229487550657
R2:  0.7652817538045095
None

user_input = "14-04-2019 16:00:00"

weaher? real time API
http://api.openweathermap.org/data/2.5/forecast?appid=ae679d7b6212a1a3daf681d0d843aa83&q=Dublin&units=metric

bpd.datframe()?